# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
*.log

# Data (large / generated)
data/datasets/
data/local/
experiments/results/
experiments/metadata/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Other
*.png
!docs/images/*.png
*.jpg
*.jpeg
*.ipynb_checkpoints/

